@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background: #fffef9;
}

a {
  text-decoration: none;
  font-family: 'Inter';
}

ul,
ol {
  list-style: none;
}

button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

textarea {
  outline: none;
  border: transparent;
}
